

  table {        
         width: 100%;        
         }

th {
	background-color: LightGray;
}
	
		 
  th, td {
         text-align: left;
         		 
		 border: 1px solid black;
		 padding: 5px;
         }
		 
	div .bg-dark {
	color:white;
	}	

.noborder
{
	border-left:none !important;
	border:none !important;
	
	
}


#logo { 
	 width:120px;
	 height:200px;
}


#pagecontainer {
	max-width: 1000px;
}

